/* Prevent horizontal scrolling */
html, body {
  overflow-x: hidden;
}

/* Reset margin and padding for all elements to avoid overflow */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in the element's width and height */
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(67, 160, 71); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5d926a; 
}